body {
    font-family: 'Your-Font-Family', sans-serif;
    color: #d35400;
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin-top: 50px;
    font-size: 4vw; /* Responsive font size */
}

main h2 {
    font-size: 3.5vw; /* Responsive font size */
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    margin: 5px; /* Adjust margin for a better look on different screens */
    flex: 1 1 auto; /* Flexibility for list items */
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2em; /* Responsive font size that scales */
}

nav a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
}

@media (max-width: 600px) {
    header h1, main h2 {
        font-size: 5vw; /* Increase font size for small devices */
    }

    nav ul {
        flex-direction: column; /* Stack nav items vertically on small screens */
    }

    nav li {
        margin-right: 0; /* Adjust margin-right for nav items on small screens */
    }
}
