body {
    font-family: 'Your-Font-Family', sans-serif;
    color: #d35400;
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin-top: 50px;
    font-size: 24px;
}

main h2 {
    font-size: 48px;
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.caption-bubble {
    position: absolute;
    min-width: 100px;
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000;
    display: none;
    text-align: center;
    top: 20%; /* Adjusted for better positioning */
    left: 50%; /* Centered horizontally relative to the parent */
    transform: translate(-50%, -100%); /* Center and move above the link */
    z-index: 100;
}

.caption-bubble::after {
    content: '';
    position: absolute;
    top: 100%; /* Tail at the bottom of the bubble */
    left: 50%; /* Center the tail */
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.caption-bubble.show {
    display: block;
}

.caption-bubble p {
    margin: 0;
    color: #000;
    font-weight: bold;
}

